

<!-- Boton hacia arriba -->
<a class="ir-arriba" javascript:void(0) title="Volver arriba">
    <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
    </span>
</a>

<div id="clonedInput1" class="clonedInput">
    <div>
        <label class="control-label" id="">Tarea No. </label>
        <label class="control-label" id=""> 1</label>
    </div>
    <div style="border-radius:10px;background-color:#E7F3F1;width:inherit;">
        <table class="table-condensed">
            <thead>
                <tr>
                    <th>
                        <label class="control-label">Hallazgo</label>
                    </th>
                    <th>
                        <label class="control-label">Acciones</label>
                    </th>
                    <th>
                        <label class="control-label">Recomendaciones</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <textarea class="form-control" id="" name="" rows="4" cols="35"></textarea>
                    </td>
                    <td>
                        <textarea class="form-control" id="" name="" rows="4" cols="35"></textarea>
                    </td>
                    <td>
                        <textarea class="form-control" id="" name="" rows="4" cols="35"></textarea>
                    </td>            
                </tr>
                <tr>
                    <td colspan="3">
                        <div style="white-space:nowrap">
                            <label class="control-label">Imagenes Adjuntas: </label>
                            <input type="file" id="fileUpload" multiple />
                        </div>                      
                        
                    </td>                    
                </tr>
            </tbody>

        </table>
    </div>
    <div class="actions">
        <button class="clone btn btn-primary btn-icon-split">Agregar Tarea</button>
        <button class="remove btn btn-danger btn-icon-split">Quitar Tarea</button>
    </div>
</div>

<script>
    $(document).ready(function () { //Hacia arriba
        irArriba();
    });

    //para agregar otra tarea
    var regex = /^(.+?)(\d+)$/i;
    var cloneIndex = $(".clonedInput").length;

    function clone() {
        $(this).parents(".clonedInput").clone()
            .appendTo("#partialView")
            .attr("id", "clonedInput" + cloneIndex)
            .find("*")
            .each(function () {
                var id = this.id || "";
                var match = id.match(regex) || [];
                if (match.length == 3) {
                    this.id = match[1] + (cloneIndex);
                }
            })
            .on('click', 'button.clone', clone)
            .on('click', 'button.remove', remove);
        cloneIndex++;
    }
    function remove() {
        $(this).parents(".clonedInput").remove();
    }
    $("button.clone").on("click", clone);

    $("button.remove").on("click", remove);

    //funcion para boton volver arriba
    function irArriba() {
        $('.ir-arriba').click(function () { $('body,html').animate({ scrollTop: '0px' }, 500); });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 0) { $('.ir-arriba').slideDown(600); } else { $('.ir-arriba').slideUp(600); }
        });
        $('.ir-abajo').click(function () { $('body,html').animate({ scrollTop: '1000px' }, 500); });
    }
</script>

<style>
    body {
        padding: 10px;
    }

    .clonedInput {
        padding: 5px;
        border-radius: 10px;
        background-color: #EACDC1;
        margin-bottom: 10px;
    }

        .clonedInput div {
            margin: 5px;
        }

    .ir-arriba {
        display: none;
        background-repeat: no-repeat;
        font-size: 20px;
        color: black;
        cursor: pointer;
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 2;
    }
</style>