
@{
    ViewBag.Title = "DescargaImagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Descarga Imagen generó un error favor notificar este mensaje al administrador del sistema.</h2>
<br />
<h3>@ViewBag.DescargaImagen</h3>

