@{
    ViewBag.Title = "Inicio";
}


<div class="jumbotron" style="text-align:center;"><h1>Gestor de Operaciones Técnicas</h1></div>
<div align="center" class="" style="background-position:center;">
    <img src="../../Content/img/maxpower.jpg" style="max-width:100%"/>
</div>




